In [4]:
import numpy as np

In [9]:
a = np.random.randn(2,2)
print(a)

[[-0.20671408 -0.81617476]
 [ 0.84044158  0.01047015]]

In [6]:
print(np.dot(a,a))

[[  5.89534689   4.32513661  -1.38598041   2.82678463   5.51849849
   -2.3446082    1.5337339    4.86970303   6.04911382  -0.81566665]
 [  2.70570285  -0.96403211  -2.11334141   0.35404522  -0.4014881
    2.92039816  -1.81123833   0.91767021   7.27564145  -7.17956713]
 [  0.17981303   0.18901183   1.80421384  -1.88362568   3.49073082
   -3.33711997   0.73696306   1.21515586   5.98601965  -0.07046251]
 [  1.81642683  -1.59726353   0.13632431   0.69033283  -0.6475923
   -1.53095432   1.10416711   4.23698417   1.72122418  -0.21503913]
 [  1.59738534  -0.23628836   0.41946915   1.16743331   1.82693992
   -0.64399239   1.66519965   3.07695582   3.89915      0.26594383]
 [  1.38483828   2.47406901   1.95585108   1.88451253   1.98379678
   -3.04669649   5.16532445  -0.4451767  -11.28800368   2.3109161 ]
 [  6.34678194   1.17210571   1.17092578   3.01684015  -3.35585962
    0.86939671  -1.51924429  -0.34897914  -1.66152845  -3.42941672]
 [  2.71505027   2.45303567  -0.08525597   0.71944865  -2.29463749
    2.02308917  -4.84342835  -3.25093882   1.58017723  -1.4666643 ]
 [  3.15882874  -0.72831015   1.28291378   2.87322363  -0.04237965
    0.16029426   0.80790933   4.95784766   5.80643555   2.46032035]
 [ -0.01879736  -3.87559585   0.82483608  -2.64588395  -2.24911626
   -3.23728151  -0.92273637   3.74740646   4.10623855  -1.34786837]]

In [8]:
%timeit a

30.7 ns ± 1.62 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [10]:
5//2

2

In [11]:
3**5

243

In [12]:
a = 5
b = 6
~a

-6

In [13]:
a<<2

20

In [14]:
a>>2

1

In [15]:
list = [10,20,30]
10 in list

True

In [16]:
100 in list

False

In [17]:
100 not in list

True

In [21]:
a = int(input("enter the value of a"))
if a>0:
    print("a is positive number")
else:
    print("a is negative number")a =

enter the value of a-5
a is negative number

In [24]:
a = int(input("enter the value of a"))
b = int(input("enter the value of b"))
if a>b:
    print(" a is bigger")
elif a<b:
    print("b is bigger")
else:
    print("both are equal")

enter the value of a-5
enter the value of b-9
 a is bigger

In [28]:
a = int(input("enter the value of a"))
b = int(input("enter the value of b"))
c = int(input("enter the value of c"))
if a>b:
    if a>c:
        print("a is big")
    else:
        print("c is big")
else:
    if b>c:
        print("b is big")
    else:
        print("c is big")

enter the value of a5
enter the value of b6
enter the value of c2
b is big

In [40]:
n = int(input("enter n value"))
i = 2 #loop variable
while i<=n:
    print(i, end =' ')
    i = i+1

enter n value100
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [42]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [43]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

In [44]:
str = 'python'
for a in str:
    print(a)

p
y
t
h
o
n

In [51]:
for i in range(0,7,1):
    for j in range(10,18,1):
        print(j, end =' ')
    print(' ')

10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17

In [52]:
#jumping statements
for i in range(5):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [55]:
#jumping statements
for i in range(10):
    if i==5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [56]:
#jumping statements
for i in range(10):
    if i==5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [57]:
i =  0
while i<=100:
    if i==5:
        pass
    print(i, end=' ')
    i = i+2

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [59]:
#lists and slicing
a =[10,20,30,'hello']
a[0]

10

In [60]:
a[-1]

'hello'

In [61]:
a[0:4]

[10, 20, 30, 'hello']

In [62]:
a[0:2]

[10, 20]

In [64]:
a[-3:-1]

[20, 30]

In [65]:
a =[[10,20,30],[40,50,60]]

In [66]:
a[0]

[10, 20, 30]

In [67]:
a[0][0]

10

In [68]:
a[0][1]

20

In [69]:
a[1][0]

40

In [70]:
a[1][0:2]

[40, 50]

In [71]:
a[1][0:2] =[100, 'hello']

In [72]:
a

[[10, 20, 30], [100, 'hello', 60]]

In [73]:
#repetetion
a*4

[[10, 20, 30],
 [100, 'hello', 60],
 [10, 20, 30],
 [100, 'hello', 60],
 [10, 20, 30],
 [100, 'hello', 60],
 [10, 20, 30],
 [100, 'hello', 60]]

In [74]:
length(a)

NameError: name 'length' is not defined

In [75]:
len(a)

2

In [76]:
max(a)

[100, 'hello', 60]

In [77]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [78]:
for i in a:
    print(i)

[10, 20, 30]
[100, 'hello', 60]

In [79]:
joker =[]

In [82]:
joker.append('hello')

In [83]:
joker

['hello', 'hello', 'hello']

In [84]:
a =[]

In [85]:
a.append(10)

In [86]:
a

[10]

In [87]:
a.extend([20,30,40])

In [88]:
a

[10, 20, 30, 40]

In [91]:
a.insert(2,50)

In [93]:
a

[10, 20, 50, 30, 40, 50]

In [94]:
a

[10, 20, 50, 30, 40, 50]

In [96]:
a.insert(3,60)

In [97]:
a

[10, 20, 50, 60, 30, 40, 50]

In [98]:
a.remove(50)

In [99]:
a

[10, 20, 60, 30, 40, 50]

In [100]:
a.pop(3)
a

[10, 20, 60, 40, 50]

In [101]:
del a[0]

In [102]:
a

[20, 60, 40, 50]

In [103]:
a

[20, 60, 40, 50]

In [104]:
del a[3]

In [105]:
a

[20, 60, 40]

In [106]:
a =[ele for ele in range(10)]

In [107]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
a =[ele+2 for ele in range(10)]

In [109]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [110]:
a =[ele for ele in range(10) if ele%2==0]

In [111]:
a

[0, 2, 4, 6, 8]

In [112]:
# sets
# creating sets

In [113]:
s ={}

In [114]:
type(s)

dict

In [115]:
s ={10,20,40,60}

In [116]:
s

{10, 20, 40, 60}

In [117]:
len(s)

4

In [118]:
s = {10,30,40, 50,30, 20,10}

In [119]:
s

{10, 20, 30, 40, 50}

In [120]:
len(s)

5

In [121]:
s

{10, 20, 30, 40, 50}

In [122]:
s.discard(20)

In [123]:
s

{10, 30, 40, 50}

In [124]:
s.discard(1000)

In [125]:
s

{10, 30, 40, 50}

In [126]:
s.remove(10)

In [127]:
s

{30, 40, 50}

In [128]:
s.remove(100)

KeyError: 100

In [129]:
s.clear()

In [130]:
s

set()

In [131]:
s ={10,20,30}

In [132]:
del s

In [133]:
s

NameError: name 's' is not defined

In [134]:
s ={10,20,30,40}

In [135]:
s

{10, 20, 30, 40}

In [136]:
10 in s

True

In [143]:
s = {i for i in range(10)}

In [144]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [145]:
t = {j for j in range(10) if j%2==0}

In [146]:
t

{0, 2, 4, 6, 8}

In [147]:
s.issubset(t)

False

In [148]:
t.issubset(s)

True

In [149]:
s.union(t) #s /(or) t

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [150]:
s.intersection(t) #s&t

{0, 2, 4, 6, 8}

In [151]:
s.difference(t) #s -t

{1, 3, 5, 7, 9}

In [152]:
t.difference(s) #t-s

set()

In [153]:
s.add(100)

In [154]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [155]:
s.symmetric_difference(t)

{1, 3, 5, 7, 9, 100}

In [156]:
s.update(t)

In [157]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [158]:
t.update(s)

In [159]:
t

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [160]:
s.intersection_update(t)

In [161]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [162]:
t.intersection_update(s)

In [163]:
t

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [164]:
t.difference_update(s)

In [165]:
t

set()

In [166]:
t

set()

In [167]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [168]:
#copy
a ={10,20,30}

In [169]:
a

{10, 20, 30}

In [170]:
b =a.copy()

In [171]:
b

{10, 20, 30}

In [172]:
d ={}

In [173]:
type(d)

dict

In [174]:
d =dict()

In [175]:
type(d)

dict

In [176]:
d ={'name': 'abc', 'per': 85}

In [177]:
d

{'name': 'abc', 'per': 85}

In [178]:
d['name']

'abc'

In [179]:
d['name']="hemanth"

In [180]:
d

{'name': 'hemanth', 'per': 85}

In [181]:
len(d)

2

In [182]:
d['uni'] = "uni due"

In [183]:
d

{'name': 'hemanth', 'per': 85, 'uni': 'uni due'}

In [184]:
del d['uni']

In [185]:
d

{'name': 'hemanth', 'per': 85}

In [186]:
d.clear()

In [187]:
d

{}

In [188]:
d = {'name': 'hemanth', 'per': 85, 'uni': 'uni due'}

In [189]:
d

{'name': 'hemanth', 'per': 85, 'uni': 'uni due'}

In [190]:
d1 ={'city':'essen'}

In [191]:
d1.update(d)

In [192]:
d

{'name': 'hemanth', 'per': 85, 'uni': 'uni due'}

In [193]:
d1

{'city': 'essen', 'name': 'hemanth', 'per': 85, 'uni': 'uni due'}

In [194]:
d.update(d1)

In [195]:
d

{'name': 'hemanth', 'per': 85, 'uni': 'uni due', 'city': 'essen'}

In [200]:
d = {i:i**2 for i in range(10) if i%2==0}

In [201]:
d

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [202]:
#nested dictionarry
x = {'name':{'fname': 'hemanth kumar', 'lname': 'vema'}, 'age':25}

In [203]:
x

{'name': {'fname': 'hemanth kumar', 'lname': 'vema'}, 'age': 25}

In [204]:
x['name']

{'fname': 'hemanth kumar', 'lname': 'vema'}

In [205]:
x['age']

25

In [206]:
x['name']['fname']

'hemanth kumar'

In [207]:
y =x.copy()

In [208]:
y

{'name': {'fname': 'hemanth kumar', 'lname': 'vema'}, 'age': 25}

In [209]:
x.items()

dict_items([('name', {'fname': 'hemanth kumar', 'lname': 'vema'}), ('age', 25)])

In [210]:
x.values()

dict_values([{'fname': 'hemanth kumar', 'lname': 'vema'}, 25])

In [211]:
d.values()

dict_values([0, 4, 16, 36, 64])

In [212]:
d.keys()

dict_keys([0, 2, 4, 6, 8])

In [213]:
#functions
def display():
    print("welcome to functions")
display()

welcome to functions

In [216]:
display()

welcome to functions

In [217]:
def display(str):
    print("hello", str, "welcome to functions")
display("python")

hello python welcome to functions

In [218]:
def add(a,b):
    c = a+b
    print(c)
add(5,2)

7

In [221]:
#required arguments is defined as number of parameters should match in both functional call and def
def add(a,b):
    c=a**2+b**2+2*a*b
    return c
result = add(2,3)
print(result)

25

In [222]:
#default arguments
#no of paramters may not be equal in both function call and defintion
#default arguments should be listed at the end of the list

def show(a,b=20):
    print(a,b)
show(10)

10 20

In [223]:
show(10,20)

10 20

In [224]:
show(30,20)

30 20

In [226]:
#keyword arguments
#no need to match the parameters
#variables names has to be used
#no need to follow the positions of the arguments

def dis(a,b,c):
    print(a,b,c)
dis(c=15,a=5,b=25)

5 25 15

In [227]:
#arbitary arguments
#only one argument has to be called in function definition followed by '*'
#any number of arguments can be called in function call

def display(*marks):
    print(marks)
display(92,97,73,99,98,95)

(92, 97, 73, 99, 98, 95)

In [228]:
def display(*marks):
    print(marks[:])
display(92,97,73,99,98,95)

(92, 97, 73, 99, 98, 95)

In [229]:
def display(*marks):
    print(marks[3])
display(92,97,73,99,98,95)

99

In [232]:
#multiple returns
def display1(a,b):
    return (a,b)
result =display1(10,20)
print(result[1])

20

In [234]:
a =100 #global variable
def disp():
    print(a)
disp()  
print(a)

100
100

In [237]:
z =200 #global variable
def disp():
    z = 300 #local variable
    print(z)
disp()  
print(z)

300
200

In [240]:
z =200 #global variable
def disp():
    global z
    z = z+1
    print(z)
disp()

201

In [241]:
#lambda function
add =lambda a,b:a+b
add(1,3)

4

In [244]:
#recursins 
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
result = fact(4)  
print(result)

24